$font: "PT Sans", "Tahoma", sans-serif;
$font-bold: "PT Sans Bold", "Tahoma", sans-serif;

$base-text-color: #000000;
$secondary-text-color: #333;
$alternative-text-color: #ffffff;

$base-background: #ffffff;
$secondary-background: #81b3d2;
$alternative-background: #eee;

$input-background: #f2f2f2;
