.features-header {
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;

  @include block-outline(1px, solid, black);

  &__title {
    margin: 0;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 26px;
    font-family: $font-bold;
    text-align: center;
  }

  &__description {
    margin: 0;

    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: $secondary-text-color;
  }
}
