.feature-picture {
  height: 260px;
  margin: 0;
  overflow: hidden;
}


.feature-picture__image {
  display: block;
  width: auto;
  height: 100%;

  transform: translateX(-109px);
}


@media #{$tablet-widths} {
  .feature-picture {
    width: 66.6666666%;
    float: left;
    height: 256px
  }


  .feature-picture__image {
    position: relative;
    top: 50%;
    width: 100%;
    height: auto;

    transform: translateY(-50%)
  }
}
