.main-footer {
  margin-top: 40px;
  margin-bottom: 35px;

  text-align: center;

  @include block-outline(1px, solid, #000000);
}


.main-footer__hashtag {
  margin-bottom: 40px;

  font-size: 21px;
  line-height: 26px;
  font-family: $font-bold;
  text-transform: uppercase;
}


.main-footer__social-block {
  margin-bottom: 40px;

  font-size: 0;

  & .social-btn {
    margin-right: 6px;
  }
}


.main-footer__copyright {
  margin-bottom: 35px;
}
