.main-nav {
  @include block-outline(2px, solid, blue);
}


.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.main-nav__item {
  border-top: 1px solid #9ac1db;
  border-bottom: 1px solid #678fa8;
}


.main-nav__item:first-child {
  border-top: none;
}


.main-nav__link {
  display: block;
  padding-top: 21px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 1.3;
  font-family: $font-bold;
  text-align: center;
  color: white;
  text-decoration: none;

  background-color: $secondary-background;
}
