.main-footer {
  margin-bottom: 35px;
  padding-top: 40px;

  text-align: center;

  @include block-outline(1px, solid, #000000);
}


.main-footer__hashtag {
  margin-bottom: 40px;

  font-size: 21px;
  line-height: 26px;
  font-family: $font-bold;
  text-transform: uppercase;
}


.main-footer__social-block {
  margin-bottom: 40px;

  font-size: 0;

  & .social-btn {
    margin-right: 6px;
  }
}


.main-footer__copyright {
  margin-bottom: 35px;
}


@media #{$tablet-widths} {
  .main-footer {
    @include clearfix();
  }


  .main-footer__hashtag {
    float: left;
    width: 33.3333333%;
    padding-top: 11px;
  }


  .main-footer__social-block {
    float: left;
    width: 33.3333333%;
  }


  .main-footer__copyright {
    display: block;
    float: left;
    width: 33.3333333%;
    margin-bottom: 0;
    padding-top: 11px;
  }
}
