.page-header {
  position: relative;

  padding-bottom: 56px;

  @include block-outline(1px, solid, #000000);
  @include clearfix();
  &__logo {
    position: absolute;
    bottom: 0;
    left: 50%;

    margin: 0;

    transform: translateX(-50%);
  }

  &__logo img {
    display: block;
  }

  &__toogle {
    float: right;
  }
}
