.search {
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;

  @include block-outline(1px, solid, #000000);
}


.search__title {
  display: block;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-family: $font-bold;
}


.search__description {
  margin: 0;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;
}


.search__btn {
  margin-bottom: 50px;
}

@media #{$tablet-widths} {
  .search {
    width: 458px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }

  .search__btn {
    width: 458px;
  }
}
