.site-wrapper {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

@media #{$tablet-widths} {
  .site-wrapper {
    max-width: 768px;
  }
}

@media #{$desktop-widths} {
  .site-wrapper {
    max-width: 1200px;
  }
}
