.video {
  margin-top: 35px;
  margin-bottom: 80px;

  @include block-outline(1px, solid, black);
}


.video__title {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;

  font-size: 18px;
  line-height: 26px;
  font-family: $font-bold;
  text-align: center;
}


.video__description {
  margin: 0;
  margin-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;

  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: $secondary-text-color;
}


.video__item {
  position: relative;
}


.video__item-picture {
  min-height: 201px;

  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}


.video__video-controls .video-controls__progress-info {
  &::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: -68px;
    left: 20px;
    z-index: -1;

    width: 280px;
    min-height: 66px;

    background-color: $input-background;
  }
}


@media #{$tablet-widths} {
  .video {
    width: 748px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }


  .video__title {
    padding-right: 115px;
    padding-left: 115px;
  }

  .video__description {
    margin-bottom: 75px;
    padding-right: 115px;
    padding-left: 115px;
  }


  .video__item-picture {
    width: 748px;
    height: 499px;
  }


  .video__video-controls .video-controls__progress-info {
    &::after {
      content: none;
    }
  }
}


@media #{$desktop-widths} {
  .video {
    width: 800px;
  }


  .video__title {
    padding-right: 190px;
    padding-left: 190px;
  }


  .video__description {
    margin-bottom: 75px;
    padding-right: 190px;
    padding-left: 190px;
  }


  .video__item-picture {
    width: 800px;
    height: 500px;
  }
}
